@model Dictionary<string, string>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/lib/twitter-bootstrap/css/*.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <title>Result</title>
</head>
<body class="p-1">
    <table class="table table-condensed table-bordered table-striped">
        @foreach (var kvp in Model)
        {
            <tr><th>@kvp.Key</th><td>@kvp.Value</td></tr>
        }
    </table>
</body>
</html>